<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>01-ClocksAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D6F55AB41DB86E5D00C1A1CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F55AC81DB86E5D00C1A1CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F55AD31DB86E5D00C1A1CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
